<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Rick_Advise_Morty</title>
</head>
<body>


  <hgroup class="speech-bubble">
    <div class="wrapper">
      <h1 id="adviceText"><%=advice%></h1>
    </div>
  </hgroup>

  <img src="/images/Rick_Morty.jpg" alt="">

  <a href="/">Get Advice</a>

  <script type="text/javascript" src="script/script.js"></script>
</body>
</html>
